header{
    text-align:center;
}
main{
    float:left;
    width:80%;  
}

aside{
    float:right;
    width:20%;
    height:100%;
}
footer{
    position:fixed;
    bottom:0%;
    clear:both;
    width:100%;
    
}